In [1]:
import sqlite3 as sq
import datetime

In [3]:
con = sq.connect("contactmanagementsystem.db")

In [4]:
cur = con.cursor()

In [5]:
cur.execute("""create table if not exists contact
               ( cid int primary key,
                 fname text,
                 lname text,
                 contact number,
                 email text,
                 city text
                 check ( email like '%_@_%._%')
                );""")

In [6]:
cur.execute("""create table if not exists details_log
                (
                    
                    fname text,
                    lname text,
                    newcontact number,
                    oldcontact number,
                    datetime text,
                    operation text
                    
                )""")

In [7]:
cur.execute("""create trigger if not exists insertdata
               after insert on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,'NULL',datetime('now'),'insert');
               end;
                   """)

In [8]:
cur.execute("""create trigger if not exists deletedata
               after delete on contact
               begin
                   insert into details_log
                   values(old.fname,old.lname,'NULL',old.contact,datetime('now'),'delete');
               end;
                   """)

In [9]:
cur.execute("""create trigger if not exists updatedata
               after update on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,old.contact,datetime('now'),'update');
               end;
                   """)

In [10]:
def updaterecord(cd):
    newcon=int(input("Enter new Contact Number:"))
    cur.execute(f"Update contact set contact={newcon} where cid={cd};")

In [11]:
def deleterecord(cd):
    cur.execute(f"delete from contact where cid={cd}")

In [12]:
def searchrecord(cd):
    cur.execute(f"select * from contact where cid={cd}")
    row=cur.fetchall()
    print(row)

In [13]:
cur.execute("""insert into contact values
                (1,'parth','rathod',9874553750,'parth@gmail.com','mahuva'),
                (2,'dhrumin','rathod',2431656622,'dhrumin@gmail.com','surat'),
                (3,'dev','patel',8525842023,'dev@gmail.com','mandvi'),
                (4,'fenil','patil',8453860101,'fenil@gmail.com','vyara'),
                (5,'jenil','shah',74867357452,'jenil@gmail.com','madhi');""")

In [14]:
updaterecord(2)

Enter new Contact Number:9328838589

In [15]:
deleterecord(3)

In [16]:
cur.execute("select * from contact")
row=cur.fetchall()
for i in row:
    print(f"\nID:{i[0]}\nFname:{i[1]}\nLname:{i[2]}\nContact:{i[3]}\nEmail:{i[4]}\ncity:{i[5]}")

ID:1
Fname:parth
Lname:rathod
Contact:9874553750
Email:parth@gmail.com
city:mahuva

ID:2
Fname:dhrumin
Lname:rathod
Contact:9328838589
Email:dhrumin@gmail.com
city:surat

ID:4
Fname:fenil
Lname:patil
Contact:8453860101
Email:fenil@gmail.com
city:vyara

ID:5
Fname:jenil
Lname:shah
Contact:74867357452
Email:jenil@gmail.com
city:madhi

In [17]:
cur.execute("select * from details_log")
row1=cur.fetchall()
print(row1)
for i in row1:
    print(f"\nFname:{i[0]}\nLname:{i[1]}\nNew-contact:{i[2]}\nOld-Contact:{i[3]}\nDatetime:{i[4]}\nOperation:{i[5]}")

[('parth', 'rathod', 9874553750, 'NULL', '2023-08-10 07:42:15', 'insert'), ('dhrumin', 'rathod', 2431656622, 'NULL', '2023-08-10 07:42:15', 'insert'), ('dev', 'patel', 8525842023, 'NULL', '2023-08-10 07:42:15', 'insert'), ('fenil', 'patil', 8453860101, 'NULL', '2023-08-10 07:42:15', 'insert'), ('jenil', 'shah', 74867357452, 'NULL', '2023-08-10 07:42:15', 'insert'), ('dhrumin', 'rathod', 9328838589, 2431656622, '2023-08-10 07:42:35', 'update'), ('dev', 'patel', 'NULL', 8525842023, '2023-08-10 07:42:47', 'delete')]

Fname:parth
Lname:rathod
New-contact:9874553750
Old-Contact:NULL
Datetime:2023-08-10 07:42:15
Operation:insert

Fname:dhrumin
Lname:rathod
New-contact:2431656622
Old-Contact:NULL
Datetime:2023-08-10 07:42:15
Operation:insert

Fname:dev
Lname:patel
New-contact:8525842023
Old-Contact:NULL
Datetime:2023-08-10 07:42:15
Operation:insert

Fname:fenil
Lname:patil
New-contact:8453860101
Old-Contact:NULL
Datetime:2023-08-10 07:42:15
Operation:insert

Fname:jenil
Lname:shah
New-contact:74867357452
Old-Contact:NULL
Datetime:2023-08-10 07:42:15
Operation:insert

Fname:dhrumin
Lname:rathod
New-contact:9328838589
Old-Contact:2431656622
Datetime:2023-08-10 07:42:35
Operation:update

Fname:dev
Lname:patel
New-contact:NULL
Old-Contact:8525842023
Datetime:2023-08-10 07:42:47
Operation:delete